[Unit]
Description=LedgerSMB Plack
After=network.target

[Service]
Restart=always
User=www-data
WorkingDirectory=WORKING_DIR
Environment="LOG=/var/log/plack/plackup_ledgersmb.log"
#
ExecStart=/usr/bin/plackup           \
    --host localhost                 \
    --port 5000                      \
    --daemonize                      \
    --workers 5                      \
    --access-log $LOG                \
    --server Gazelle                 \
    -I lib                           \
    -R bin,lib,lib/LedgerSMB/Request \
    tools/starman.psgi
#
# Production optimized
#    --server Gazelle                \
# Production server
#    --server Starman                \

[Install]
WantedBy=multi-user.target
