<?lsmb INCLUDE 'ui-header.html'
        titlebar = "LedgerSMB $version"
        include_stylesheet = ["login.css", "ledgersmb.css"]
        include_script = [ 'login.js' ]
?>
<?lsmb
   PROCESS elements.html -?>
<body class="login, <?lsmb dojo_theme ?>"
      id="app-login">
  <br /><br />
  <center id="app">
    <form method="post" action="login.pl" name="login"
          v-on:submit.prevent="greet"
          >
      <?lsmb INCLUDE input element_data = {
             type = "hidden",
             name = "menubar",
             value = menubar
             } ?>
      <?lsmb INCLUDE input element_data = {
             type = "hidden",
             name = "blacklisted",
             value = blacklisted
             } ?>
      <div class="login" id="logindiv">
        <div class="login" align="center">
          <a href="http://www.ledgersmb.org/"
             target="_top">
            <img src="images/ledgersmb.png"
                 class="logo"
                 alt="LedgerSMB Logo" /></a>
          <div style="position:relative; width:100%; height:15em;">
            <div id="loading" style="z-index:100;position:absolute;top:0;left:0;width:100%;height:100%;background:white"
                 v-bind:style="{ display: loading ? 'block' : 'none' }">
              <img
                 style="display: block; margin: auto auto; font-family: "
                 src="js/dijit/icons/images/loadingAnimation.gif"
                 alt="If this text is showing, there's most likely a problem with the Dojo setup"
                 title="Loading ..."
                 width="20"
                 height="20" />
            </div>
          <div style="z-index:10; position:absolute; top:0; left:0; width:100%; height:100%;">
          <h1 class="login" align="center">
            LedgerSMB <?lsmb version ?>
          </h1>
          <div align="center">
            <div id="company_div"
                 data-dojo-type="lsmb/layout/TableContainer"
                 data-dojo-props="cols:1">
              <div class="noshow">
                <div>
                  <dojo-text-input name="login" accesskey="l" type="text"
                                   tabindex="1"
                                   title="<?lsmb text('User Name') ?>"
                                   v-model="username" />
                </div>
                <div>
                  <dojo-text-input name="password" accesskey="p" type="password"
                                   tabindex="2"
                                   title="<?lsmb text('Password') ?>"
                                   v-model="password" />
                </div>
              </div>
              <dojo-text-input name="company" accesskey="c" type="text"
                               tabindex="3"
                               title="<?lsmb text('Company') ?>"
                               v-model="company" />

            </div>
          </div>
          <?lsmb PROCESS button
                 element_data = {
                 type="submit"
                 name="action"
                 value="login"
                 accesskey="l"
                 id="action-login"
                 text=text('Login')
                 tabindex=4 } ?>
          </div>
          </div>
        </div>
        <div id="login-indicator" v-bind:style="{ visibility: loggingIn ? 'visible' : 'hidden' }">
          <span><?lsmb text('Logging in.  Please wait.') ?></span>
        </div>
        {{ password }}
      </div>
    </form>
  </center>
<script>
  var app = new Vue({
  el: '#app',
  data: {
  loading: true,
  loggingIn: false,
  username: '',
  password: '',
  company: ''
  },
  methods: {
  greet: function(evt) {
     this.loggingIn = true;
  }
  }
  });
</script>

<script>
  require(['dojo/dom', 'dojo/dom-style', 'dojo/ready'],
  function(dom, style, ready) {
    ready(80, function() {
      Vue.set(app, 'loading', false);
  });
  });
</script>

</body>
</html>
